[ssh_connection]
# Accelerate SSH(only for Ansible>=0.5.0)
pipelining = True

[ssh_connection]
scp_if_ssh=True

# Work around a ssh error with ansible due to ec2 name length exceeding
# Unix socket length limit.
# http://docs.ansible.com/ansible/intro_configuration.html#control-path
# Detailed documentation on ssh control path:
#   http://www.openbsd.org/cgi-bin/man.cgi/OpenBSD-current/man5/ssh_config.5?query=ssh_config&sec=5
control_path = %(directory)s/%%h-%%p-%%r
