Package: alluxio
Source: alluxio-src
Version: ${version}
Section: base
Priority: optional
Architecture: all
Maintainer: Alluxio Maintainers <alluxio-maintainers@alluxio.com>
Description: Alluxio debian distribution
 This is a debian-packaged version of Alluxio (https://alluxio.io)
