#
# The Alluxio Open Foundation licenses this work under the Apache License, version 2.0
# (the "License"). You may not use this work except in compliance with the License, which is
# available at www.apache.org/licenses/LICENSE-2.0
#
# This software is distributed on an "AS IS" basis, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
# either express or implied, as more fully set forth in the License.
#
# See the NOTICE file distributed with this work for information regarding copyright ownership.
#

# Configure Alluxio, some configuration is related to ufs, so will reference scripts in roles/ufs_xxx
---

- name: set alluxio/conf/workers
  script: set_workers.sh

- name: set ALLUXIO_MASTER_HOSTNAME in alluxio-env.sh
  script: set_master_address.sh

- name: set ufs related info in alluxio-env.sh
  script: roles/ufs_{{ ufs }}/files/config_alluxio.sh
  environment:
    S3_BUCKET: "{{ s3_bucket }}"
    S3_ID: "{{ s3_id }}"
    S3_KEY: "{{ s3_key }}"
    GCS_BUCKET: "{{ gcs_bucket }}"
    GCS_ID: "{{ gcs_id }}"
    GCS_KEY: "{{ gcs_key }}"
    SWIFT_CONTAINER: "{{ swift_container }}"
    SWIFT_USER: "{{ swift_user }}"
    SWIFT_TENANT: "{{ swift_tenant }}"
    SWIFT_PASSWORD: "{{ swift_password }}"
    SWIFT_AUTH_URL: "{{ swift_auth_url }}"
    SWIFT_USE_PUBLIC_URL: "{{ swift_use_public_url }}"
    SWIFT_AUTH_METHOD: "{{ swift_auth_method }}"

- name: Source the bashrc file
  shell: source ~/.bashrc

- name: set usezookeeper and zookeeper address if number of masters is larger than 1
  script: zookeeper.sh
  when: alluxio_masters > 1

- name: set journal folder as a shared folder in underfs for fault tolerance
  script: set_journal_folder.sh
  when: alluxio_masters > 1

- name: set longer worker heartbeat timeout to wait for leader selection
  script: set_worker_heartbeat_timeout.sh
  when: alluxio_masters > 1

- name: set worker memory in alluxio-env.sh
  replace: >
    dest=/alluxio/conf/alluxio-env.sh
    regexp='^ALLUXIO_WORKER_RAMDISK_SIZE=.*'
    replace='ALLUXIO_WORKER_RAMDISK_SIZE={{ alluxio_memory }}'

# vim :set filetype=ansible.yaml:
