# TODO: use leading '/' to specifically ignore top level directories
**/tachyon-site.properties
*.iml
*.swp
*.swo
.DS_STORE
.checkstyle
.classpath
.idea/
.metadata/
.project
.settings/
/journal/
conf/tachyon-env.sh
data/
dependency-reduced-pom.xml
deploy/vagrant/.vagrant/
deploy/vagrant/files/
deploy/vagrant/shared/
deploy/vagrant/vbox/.vagrant/
deploy/vagrant/vbox/tachyon-dev.box
deploy/vagrant/conf/init.yml
deploy/vagrant/spot/roles/create_ec2/vars/
deploy/vagrant/spot/roles/tag_ec2/vars/
deploy/vagrant/bin/*.pyc
deploy/vagrant/.request_ids
docs/_site
docs/api
docs/serve/
logs/
perf/conf/tachyon-perf-env.sh
perf/result
script/
target/
tests.log*
