**/tachyon-site.properties
*.iml
.DS_STORE
.checkstyle
.classpath
.idea/
.metadata/
.project
.settings/
conf/tachyon-env.sh
data/
dependency-reduced-pom.xml
deploy/vagrant/.vagrant/
deploy/vagrant/files/
deploy/vagrant/shared/
deploy/vagrant/vbox/.vagrant/
deploy/vagrant/vbox/tachyon-dev.box
deploy/vagrant/vbox/shared/
deploy/vagrant/conf/init.yml
docs/_site
docs/api
docs/serve/
journal/
logs/
script/
target/
tests.log*
