**/.port_coordination
**/alluxio-site.properties
**/nb-configuration*.xml
**/nbproject/
*.iml
*.pyc
*.swo
*.swp
*~
.DS_STORE
.DS_Store
.checkstyle
.classpath
.fbExcludeFilterFile
.idea/
.metadata/
.port_coordination/
.project
.settings/
/alluxio_backups/
/client/
/conf/alluxio-env.sh
/conf/alluxio-env.sh.bootstrap.bk
/conf/metrics.properties
/data/
/deploy/vagrant/.request_ids
/deploy/vagrant/.vagrant/
/deploy/vagrant/conf/ec2.yml
/deploy/vagrant/conf/gce.yml
/deploy/vagrant/conf/init.yml
/deploy/vagrant/files/
/deploy/vagrant/shared/
/deploy/vagrant/spot/roles/create_ec2/vars/
/deploy/vagrant/spot/roles/tag_ec2/vars/
/deploy/vagrant/vbox/.vagrant/
/deploy/vagrant/vbox/alluxio-dev.box
/dev/scripts/*.tar.gz
/dev/scripts/tarballs
/dev/scripts/workdir
/docs/_site/
/docs/api/
/docs/serve/
/extensions/
/generated/
/journal/
/lib/
/logs/*.log*
/logs/*.out*
/logs/user/*
/metastore
/underFSStorage/
/underfs/hdfs/src/main/java/alluxio/UfsConstants.java
/web/
/webui/**/**/build/
/webui/**/**/coverage/
/webui/**/**/dist/
/webui/**/**/docs-static/**/*.d.ts
/webui/**/**/generated/
/webui/**/**/lerna-debug.log
/webui/**/**/lib/
/webui/**/**/node_modules
/webui/**/**/npm-debug.log
/webui/**/**/src/**/*.css
/webui/**/.sass-cache/
/webui/**/lerna-debug.log
/webui/**/node
/webui/**/node_modules
/webui/**/npm-debug.log
\#*#
dependency-reduced-pom.xml
target/
tests.log*
