Package: [[deb.pkg.name]]
Version: [[version]]-[[buildNumber]]
Section: misc
Priority: extra
Architecture: all
Maintainer: Haoyuan Li <haoyuan.li@gmail.com>
Description: [[name]]
Distribution: development
