body {
    padding-top: 70px;
    padding-bottom: 40px;
}
.navbar .nav {
    float: right;
}
.navbar .nav > li > a {
    text-shadow: none;
    padding-bottom: 5px;
    color: #f7f4f3;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
    color: #fff;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #f7f4f3;
    border-bottom-color: #f7f4f3;
}
.navbar-inner {
    padding: 10px 0;
    background: #2d2d2d;
    transition: padding 0.2s, box-shadow 0.2s;
    -webkit-transition: padding 0.2s, box-shadow 0.2s;
    -moz-transition: padding 0.2s, box-shadow 0.2s;
    -o-transition: padding 0.2s, box-shadow 0.2s;
}
.navbar-inner .version {
    font-weight: 400;
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
}
.navbar-inner.shrunk {
    padding: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.navbar-inner.shrunk .version {
    opacity: 0;
}
.navbar .nav > li.active a, .navbar .nav > li.active a:hover, .navbar .nav > li.dropdown > a.active {
    background-color: transparent;
    box-shadow: none;
    color: #f7f4f3;
    border-bottom: 2px solid #f7f4f3;
}
.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: #c4cbca;
    background-image: none;
    color: #2d2d2d;
    font-style: italic;
}
#current-features + ul {
    text-align: center;
    margin: 0;
}
#current-features + ul li {
    display: inline-block;
    width: 220px;
    height: 260px;
    vertical-align: top;
    border: 2px solid #000;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    overflow: hidden;
}
#current-features + ul li p {
    text-align: left;
    font-size: 12px;
    line-height: 1.6;
    padding-top: 30px;
}
#current-features + ul li p a {
    text-decoration: underline;
    color: inherit;
}
#current-features + ul li p strong {
    display: block;
    font-size: 16px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    color: #fff;
    padding: 5px 0;
}
#current-features + ul li p code {
    background-color: #f7f4f3;
    border: 1px solid #c4cbca;
    font-size: 100%;
    padding: 0 2px;
}
#current-features + ul li:nth-child(1) {
    border-color: #2eb44d;
    background-color: rgba(46, 180, 77, 0.1);
}
#current-features + ul li:nth-child(1) strong {
    background-color: #2eb44d;
}
#current-features + ul li:nth-child(1) p {
    font-size: 16px;
}
#current-features + ul li:nth-child(2) {
    border-color: #f2903a;
    background-color: rgba(242, 144, 58, 0.1);
}
#current-features + ul li:nth-child(2) strong {
    background-color: #f2903a;
}
#current-features + ul li:nth-child(3) {
    border-color: #248ccb;
    background-color: rgba(36, 140, 203, 0.1);
}
#current-features + ul li:nth-child(3) strong {
    background-color: #248ccb;
    font-size: 14px;
}
#current-features + ul li:nth-child(4) {
    border-color: #e96a79;
    background-color: rgba(233, 106, 121, 0.1);
}
#current-features + ul li:nth-child(4) strong {
    background-color: #e96a79;
}
#current-features + ul li:nth-child(4) p {
    font-size: 16px;
}
#current-features + ul li:nth-child(5) {
    border-color: #146767;
    background-color: rgba(20, 103, 103, 0.1);
}
#current-features + ul li:nth-child(5) strong {
    background-color: #146767;
}
#current-features + ul li:nth-child(5) p {
    font-size: 18px;
}
#current-features + ul li:nth-child(6) {
    border-color: #fabc42;
    background-color: rgba(250, 188, 66, 0.1);
}
#current-features + ul li:nth-child(6) strong {
    background-color: #fabc42;
}
#current-features + ul li:nth-child(6) p {
    font-size: 20px;
}
#frameworks {
    text-align: center;
}
#frameworks + p {
    margin-top: 40px;
}
.framework {
    display: inline-block;
    border: 2px solid #cfcfcf;
    height: 60px;
    width: 20%;
    background-position: center;
    background-size: 80% auto;
    background-repeat: no-repeat;
    color: transparent;
    border-radius: 4px;
    vertical-align: top;
}
.framework p {
    text-align: center;
    display: block;
    position: relative;
    top: 100%;
    color: #cfcfcf;
}
.spark {
    background-image: url("../img/spark.png");
    background-size: 50% auto;
}
.shark {
    background-image: url("../img/shark.png");
}
.mapreduce {
    background-image: url("../img/hadoop.jpg");
}
.flink {
    background-image: url("../img/flink.jpg");
    background-size: 50% auto;
}
#deploy li {
    float: left;
    width: 100px;
    height: 120px;
    display: table;
    background-color: #4d6080;
    margin: 0 10px;
    transition: background-color 0.1s;
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
}
#deploy li a {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 200;
    transition: font-size 0.1s;
    -webkit-transition: font-size 0.1s;
    -moz-transition: font-size 0.1s;
    -o-transition: font-size 0.1s;
}
#deploy li a:hover {
    font-size: 16px;
}
#deploy li:hover {
    background-color: #2e3d57;
}
.floatCenter {
    position: relative;
    float: right;
    right: 50%;
}
.floatCenter .floatCenterChild {
    position: relative;
    left: 50%;
}
.floatCenter + p {
    clear: both;
}
