- name: include tachyon jar in SPARK_CLASSPATH
  script: classpath.sh
  when: spark_version_lessthan_1

- name: set spark/conf/slaves and set spark-env.sh
  script: spark_env.sh

- name: set spark/conf/core-site.xml
  script: config_core_site.sh

- name: set spark/conf/spark-defaults.conf
  script: spark-defaults.sh

# vim :set filetype=ansible.yaml:
