# AUTHENTICATION
# The Client Email address for your Service Account.
Serice_Acount_Email_Address: 

# The location of the JSON private key file matching your Service Account.
json_Key_Location:

# The Project ID for your Google Cloud Platform account.
Google_Cloud_Project_ID:

#SSH
SSH_Username: 
Key_Path: 

