markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false
  syntax_highlighter: rouge

# For release candidates and release branches, this should match the pom.xml Alluxio version, e.g. "1.5.0" or "1.5.0-RC1"
# For master branch, this should be the latest released version, e.g. "1.5.0"
ALLUXIO_RELEASED_VERSION: 1.8.0
# This should be the same as ALLUXIO_RELEASED_VERSION, except on master branch, where it should be "master"
ALLUXIO_MASTER_VERSION_SHORT: master
# For release candidates and release branches, this should be the major Alluxio version, e.g. both 1.5.0 and 1.5.0-RC1 should use "1.5"
# For master branch, this should be "master"
ALLUXIO_MAJOR_VERSION: master
# We must inline the version string (e.g., "1.4.0-SNAPSHOT") rather than using the macro of Alluxio version.
# Otherwise the macro name remains in the output.
ALLUXIO_CLIENT_JAR_PATH: /<PATH_TO_ALLUXIO>/client/alluxio-1.9.0-SNAPSHOT-client.jar

# These attach the pages of different languages with different 'lang' attributes
defaults:
  -
    scope:
      path: en
    values:
      lang: en
      languageName: English
      languagePriority: 0
  -
    scope:
      path: cn
    values:
      lang: cn
      languageName: 中文
      languagePriority: 1
  -
    scope:
      path: pt
    values:
      lang: pt
      languageName: Português
      languagePriority: 2

# These are the ordered category names
categoryList:
  - Home
  - Deploying Alluxio
  - Under Stores
  - Compute Applications
  - Operations
  - Advanced
  - APIs
  - Contributor Resources
  - Reference

# Each language has a particular version of category names
# When supporting a new language version, do not change the 'group' attribute in .md page files
# Instead, just add the group name of that language below
categoryInfo:
  Home:
    en: Home
    cn: 用户指南
    pt: Guias do Usuário
  Deploying Alluxio:
    en: Deploying Alluxio
    cn: 部署Alluxio
    pt: Deploying Alluxio
  Under Stores:
    en: Under Stores
    cn: 底层存储系统
    pt: Under Stores
  Compute Applications:
    en: Frameworks
    cn: 计算框架
    pt: Frameworks
  Operations:
    en: Operations
  Advanced:
    en: Advanced
  APIs:
    en: APIs
    cn: Clients
    pt: Clients
  Contributor Resources:
    en: Alluxio Developer Resources
    cn: 开发者资源
    pt: Recursos
  Reference:
    en: Reference
