markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false
  syntax_highlighter: rouge

# The full version string
# Used to match the version string portion of file paths, URLs, and dependency versions
# e.g. client jar path,
ALLUXIO_VERSION_STRING: 302-SNAPSHOT
# We must inline the version string (e.g., "1.4.0-SNAPSHOT") rather than using the macro of Alluxio version.
# Otherwise the macro name remains in the output.
ALLUXIO_CLIENT_JAR_PATH: /<PATH_TO_ALLUXIO>/client/alluxio-302-SNAPSHOT-client.jar
# For release branches, this should be the Alluxio version in the form of <major>.<minor>, e.g. both 1.5.0 and 1.5.0-RC1 should use "1.5"
# For master branch, this should be "edge"
# This should be used to reference versioned pages that are not relative to the docs/ directory
# e.g. Javadoc: https://docs.alluxio.io/os/javadoc/{{site.ALLUXIO_MAJOR_VERSION}}/master/index.html
# e.g. REST API doc: https://docs.alluxio.io/os/restdoc/{{site.ALLUXIO_MAJOR_VERSION}}/master/index.html
ALLUXIO_MAJOR_VERSION: edge
# The Alluxio docker image name.
ALLUXIO_DOCKER_IMAGE: alluxio

# These attach the pages of different languages with different 'lang' attributes
defaults:
  -
    scope:
      path: en
    values:
      lang: en
      languageName: English
      languagePriority: 0

# For no baseurl, leave blank
# Anything other than blank: this should always START with a '/' and NEVER end with a '/' character
baseurl:
