markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false
  syntax_highlighter: rouge

# For release candidates and release branches, this should match the pom.xml Alluxio version, e.g. "1.5.0" or "1.5.0-RC1"
# For master branch, this should be the latest released version, e.g. "1.5.0"
ALLUXIO_RELEASED_VERSION: 1.8.1
# This should be the same as ALLUXIO_RELEASED_VERSION, except on master branch, where it should be "master"
ALLUXIO_MASTER_VERSION_SHORT: 1.8.1
# For release candidates and release branches, this should be the major Alluxio version, e.g. both 1.5.0 and 1.5.0-RC1 should use "1.5"
# For master branch, this should be "master"
ALLUXIO_MAJOR_VERSION: 1.8
# We must inline the version string (e.g., "1.4.0-SNAPSHOT") rather than using the macro of Alluxio version.
# Otherwise the macro name remains in the output.
ALLUXIO_CLIENT_JAR_PATH: /<PATH_TO_ALLUXIO>/client/alluxio-1.8.1-client.jar

# These attach the pages of different languages with different 'lang' attributes
defaults:
  -
    scope:
      path: en
    values:
      lang: en
      languageName: English
      languagePriority: 0
  -
    scope:
      path: cn
    values:
      lang: cn
      languageName: 中文
      languagePriority: 1

# These are the ordered category names
categoryList:
  - Home
  - Deploying Alluxio
  - Under Stores
  - Data Applications
  - Basic
  - Operations
  - Advanced
  - Client APIs
  - Contributor Resources
  - Reference

# Each language has a particular version of category names
# When supporting a new language version, do not change the 'group' attribute in .md page files
# Instead, just add the group name of that language below
categoryInfo:
  Home:
    en: Home
    cn: 用户指南
  Deploying Alluxio:
    en: Deploying Alluxio
    cn: 部署 Alluxio
  Under Stores:
    en: Under Stores
    cn: 底层存储系统
  Data Applications:
    en: Data Applications
    cn: 计算应用
  Basic:
    en: Basic
    cn: 基本用法
  Operations:
    en: Operations
    cn: 运行维护
  Advanced:
    en: Advanced
    cn: 高级用法
  Client APIs:
    en: Client APIs
    cn: APIs
  Contributor Resources:
    en: Contributor Resources
    cn: 开发者资源
  Reference:
    en: Reference
    cn: 参考
