alluxio.master.bind.host:
  Alluxio master绑定的主机名。参考<a href="#configure-multihomed-networks">多宿主网络</a>
alluxio.master.heartbeat.interval.ms:
  Alluxio master心跳间隔（单位：毫秒）。
alluxio.master.hostname:
  Alluxio master主机名。
alluxio.master.file.async.persist.handler:
  处理异步持久化请求的处理类。
alluxio.master.format.file_prefix:
  当journal被格式化时，在joural文件夹下生成的文件的文件名前缀。当判断journal是否被格式化时master会查找文件名以该前缀开头的文件。
alluxio.master.journal.flush.batch.time.ms:
  等待批处理日志写入的时间（以毫秒为单位）。
alluxio.master.journal.flush.timeout.ms:
  在放弃和关闭master之前保持重试日志写入的时间量（以毫秒为单位）。
alluxio.master.journal.folder:
  存储master journal日志的路径。
alluxio.master.journal.formatter.class:
  序列化journal的类。
alluxio.master.journal.log.size.bytes.max:
  如果一个日志文件大小超过该值，会产生下一个文件。
alluxio.master.journal.tailer.&#8203;shutdown.quiet.wait.time.ms:
  在备用master停止监听线程之前，在该配置项指定的时间（单位：毫秒）内不应对leader master的journal作任何更新。
alluxio.master.journal.tailer.sleep.time.ms:
  指定当备用master无法检测到leader master journal的更新时，其睡眠时间（单位：毫秒）。
alluxio.master.lineage.checkpoint.interval.ms:
  Alluxio checkpoint机制的时间间隔（单位：毫秒）。
alluxio.master.lineage.checkpoint.class:
  用于生成lineage文件的checkpoint策略的类名，默认的策略是将最新的完整的lineage作为检查点，即所有输出文件都完成了的lineage。
alluxio.master.lineage.recompute.interval.ms:
  Alluxio执行重新计算任务的时间间隔（单位：毫秒），executor根据lineage扫描到所有丢失的文件，然后重新执行对应的计算任务。
alluxio.master.lineage.recompute.log.path:
  执行重新计算任务时将日志的标准输出重定向到该配置项指定的路径。
alluxio.master.port:
  Alluxio master的运行端口。
alluxio.master.retry:
  "client尝试与master相连的最大重试次数。（注意：该配置项目前不推荐使用，建议使用`alluxio.user.rpc.retry.max.num.retry`替代该项）"
alluxio.master.startup.consistency.check.enabled:
  当Alluxio启动时是否检查与底层存储系统的一致性，在该检查过程中，Alluxio会进入只读模式。该检查默认开启。
alluxio.master.ttl.checker.interval.ms:
  清除过期ttl值的文件任务的时间间隔（单位：毫秒）。
alluxio.master.ufs.path.cache.capacity:
  UFS路径缓存的容量。此缓存用来近似`一次性`元数据加载行为。（查看 `alluxio.user.file.metadata.load.type`)。更大的缓存将耗费更大的内存，但是能够更好地近似`一次性`行为。
alluxio.master.ufs.path.cache.threads:
  线程池（可异步处理路径，用于缓存UFS路径）的最大容积。更多的线程数将减少异步缓存中的staleness数量，但可能会影响性能。
  如果设置为0，缓存将被禁用，而alluxio.user.file.metadata.load.type = Once将表现为“Always”。
alluxio.master.web.bind.host:
  Alluxio master web UI绑定的主机名。参考<a href="#configure-multihomed-networks">多宿主网络</a>
alluxio.master.web.hostname:
  提供Alluxio Master web UI的主机名。
alluxio.master.web.port:
  Alluxio web UI运行端口。
alluxio.master.whitelist:
  以该配置中的前缀开头的路径是可缓存的，这些前缀用分号隔开。Alluxio在第一次读这些文件时会尝试缓存这些可缓存的文件。
alluxio.master.worker.threads.max:
  Alluxio master能处理的最大RPC并发请求数目，该值用于配置master的Thrift线程池的最大线程数。
alluxio.master.worker.threads.min:
  Alluxio master用于处理RPC请求的最小线程数，该值用于配置master的Thrift线程池的最小线程数。
alluxio.master.worker.timeout.ms:
  Alluxio master与worker之间响应的最大超时时间（单位：毫秒），超过该时间表明该worker失效。
alluxio.master.tieredstore.global.levels:
  系统中存储层的总数目。
alluxio.master.tieredstore.global.level0.alias:
  整个系统中最高存储层的名称。
alluxio.master.tieredstore.global.level1.alias:
  整个系统中第二存储层的名称。
alluxio.master.tieredstore.global.level2.alias:
  整个系统中第三存储层的名称。
alluxio.master.keytab.file:
  Alluxio master的Kerberos密钥表文件。
alluxio.master.principal:
  Alluxio master的Kerberos主体。
alluxio.master.connection.timeout.ms:
  Alluxio master设置Thrift的超时时间（单位：毫秒），超过该时间关闭连接,默认值是0,表示无时间限制
