- name: mkdir /tachyon
  script: mkdir.sh

- name: download tachyon release
  script: down_release.sh
  environment:
    TACHYON_DIST: "{{ tachyon_dist }}"

- name: untar tachyon release
  script: untar_release.sh
  environment:
    TACHYON_DIST: "{{ tachyon_dist }}"
  ignore_errors: yes # tachyon dist is tared by bsdtar, when untar using gnutar, return code will be 1

# vim :set filetype=ansible.yaml:
