- name: mkdir /alluxio
  script: mkdir.sh

- name: download alluxio release
  script: down_release.sh
  environment:
    TACHYON_DIST: "{{ tachyon_dist }}"

- name: untar alluxio release
  script: untar_release.sh
  environment:
    TACHYON_DIST: "{{ tachyon_dist }}"
  ignore_errors: yes # alluxio dist is tared by bsdtar, when untar using gnutar, return code will be 1

# vim :set filetype=ansible.yaml:
